* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(90deg, #333, #222);
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.markdown,
.output {
  border: 1px solid white;
  width: 30%;
  min-height: 60%;
  color: black;
  margin: 5px;
}

textarea {
  width: 100%;
  height: 100%;
}

.output {
  background: #fff;
  word-wrap: break-word;
}

.markdown {
  display: flex;
}

@media screen and (max-width: 500) {
  .container {
    flex-direction: column;
  }
}
